$breakpoints: (
  xs: 0,
  sm: 600px,
        tablet-sm: 768px,
        tablet: 1024px,
  md: 1200px,
  lg: 1400px,
  xl: 1920px
) !default;

@function breakpoint-min($size) {
  @if not map-has-key($breakpoints, $size) {
    @error "Invalid style specified! Choose one of #{map-keys($breakpoints)}";
  }
  $min: map-get($breakpoints, $size);

  @return $min;
}

@mixin media-breakpoint-up($name) {
  $min: breakpoint-min($name);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
