@use "./breakpoints";

.curtie-photo {
  width: 80%;
  margin: auto;
  display: block;
  @include breakpoints.media-breakpoint-up(md) {
    width: 100%;
  }
}

.container.about {
  margin-top: 17rem;
  @include breakpoints.media-breakpoint-up(sm) {
    margin-top: 15rem;
  }
  @include breakpoints.media-breakpoint-up(md) {
    max-width: 1200px;
    margin: 12rem auto 0;
  }
}

.about-text {
  h1 {
    margin-bottom: 0.5rem;
  }
  p:first-of-type {
    margin-top: 0;
  }
}
