@use "../../styles/breakpoints";
@import "../../styles/colors";

.header {
    min-height: 64px;
    background-color: #fff;
    color: #000;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    border-top: 1rem solid $primary;

    .container {
        position: relative;
        padding: 0.5rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap;
    }
}

.logo-link {
    display: flex;
    align-items: start;
    margin-right: 1rem;
    .logo {
        width: 14rem;
        height: auto;
    }
}

.logo-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.affiliate-links {
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    a {
        margin: 1rem;
        display: flex;
    }

    @include breakpoints.media-breakpoint-up(sm) {
        flex-basis: auto;
    }
}
